.today-main {
  display: flex;
  flex-direction: row;
  margin: 10px 20px 30px 20px;

  width: 70%;
}
.today-title {
  display: flex;
  flex-direction: row;
  gap: 40px;
  font-size: larger;
}
.today-left {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.today-right {
  width: 40%;
  padding: 2rem;
  margin: 0.5rem;
    background-color: rgb(248, 248, 248);
    border-radius: 1rem;
  /* gap: 1.5rem; */
 
}

.styled-button {
  background-color: #3333e5;
  border: none; 
  color: white; 
  padding: 0.61rem 1rem; 
  text-align: center; 
  text-decoration: none; 
  display: inline-block; 
  font-size: 0.75em; 
  margin: 4px 2px; 
  cursor: pointer; 
  border-radius: 10px; 
  transition: background-color 0.3s ease; 
}

.styled-button:hover {
  background-color: #45a049; 
}

.inputDiv-title {
  margin-bottom: 1rem;
}
.listSelect-div {
  
  display: flex;
  align-items: center;
}
.listSelect-title{
  color: rgb(117, 117, 117);
  font-weight: 500;
  padding: 0.5rem;
}
.button-div {
  display: flex;
  margin-bottom: 1rem;
}
.today-addTask {
  display: flex;
  align-items: center;
  gap: 20px;
  border: 1px solid rgb(240, 237, 237);
  width: auto;
  padding: 1em;
  color: rgb(163, 163, 163);
  border-radius: 5px;
  border-left-color: rgb(255, 255, 255);
  border-right-color: rgb(255, 255, 255);
}
.today-edit {
  width: 40%;
  padding: 2rem;
  margin: 0.5rem;
    background-color: rgb(248, 248, 248);
    border-radius: 1rem;
}
::-webkit-scrollbar {
  width: 1px; /* Width of the entire scrollbar */
}
.TodayListDiv{
  display: flex;
  gap: 0.5rem;

}
.Todaylist{
  display: flex;
  gap: 0.5em;
  font-size: small;
  font-weight: 600;
  align-items: center;
}
.addsubTask{
  margin-top: 1rem;
}
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 10px;
  /* border: 3px solid #f1f1f1; Adds space around the thumb */
}

/* Style the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar thumb when hovered */
}

.spinner {
  width: 10px;
  height: 10px;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #4f46e5; /* indigo */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
